.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 71px;
  width: 932px;
  margin: 280px -200px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 102px 38px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 31px 38px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 23px auto 0 38px;
  padding: 10px 57px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 66.88% 50%;
    min-height: 521px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 439px;
    margin-top: 231px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 521px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    margin-top: 53px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 56.04% 50%;
    min-height: 442px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 372px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 642px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 574px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  width: 889px;
  min-height: 489px;
  background-image: none;
  height: auto;
  margin: 76px 30px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 21px 370px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("/images/IMG_5659.JPG");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -417px auto 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: -110px 361px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  margin: -187px 30px 0 auto;
  padding: 10px 60px 10px 59px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 401px;
    height: 401px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: -460px;
    margin-left: -60px;
  }

  .u-section-2 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: 36px;
    margin-right: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -184px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 112px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 3rem;
  margin: 79px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 15px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 23px;
}

.u-section-3 .u-text-3 {
  margin: 22px 0 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-3 .u-icon-2 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px auto 0 18px;
}

.u-section-3 .u-text-5 {
  margin: 22px 0 0 18px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 18px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 49px 0 18px;
}

.u-section-3 .u-text-7 {
  line-height: 1.6;
  margin: 20px 10px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-icon-4 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 18px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px auto 0 18px;
}

.u-section-3 .u-text-9 {
  line-height: 1.6;
  margin: 17px 0 0 17px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 588px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-3 .u-icon-5 {
  height: 120px;
  width: 120px;
  background-image: none;
  margin: 5px auto 0;
  padding: 20px;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  background-image: none;
  margin: 28px auto 0 18px;
}

.u-section-3 .u-text-11 {
  line-height: 1.6;
  margin: 17px 10px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 845px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 845px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 140px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 845px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 845px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 140px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 845px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 22px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 41px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 661px;
}

.u-section-4 .u-text-1 {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 93px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 294px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 17px 20px;
}

.u-section-4 .u-line-1 {
  width: 41px;
  transform-origin: left center 0px;
  text-align: left;
  margin: 0 auto 0 23px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-align: left;
  font-size: 1.25rem;
  margin: 12px 23px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 8px 0 0 23px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  text-align: left;
  transition-duration: 0.5s;
  margin: 8px 23px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 17px 20px;
}

.u-section-4 .u-line-2 {
  width: 41px;
  transform-origin: left center 0px;
  text-align: left;
  margin: 0 auto 0 23px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-align: left;
  font-size: 1.25rem;
  margin: 12px 23px 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 8px 0 0 23px;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  text-align: left;
  transition-duration: 0.5s;
  margin: 8px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-line-1 {
    height: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-line-2 {
    height: 8px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-4,
.u-section-4 .u-text-4:before,
.u-section-4 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-7,
.u-section-4 .u-text-7:before,
.u-section-4 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-5 {
  min-height: 100vh;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-shape-1 {
  width: 731px;
  height: 724px;
  background-image: none;
  margin: 185px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -644px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 60px;
}

.u-section-5 .u-text-2 {
  margin: 53px 63px 0 84px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-gallery-1 {
  height: 538px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-cell-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 564px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-right: 13px;
    margin-left: 39px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 391px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 903px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: -276px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 754px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 221px;
  height: 221px;
  object-position: 50% 2.64%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 44px 0 0;
}

.u-section-6 .u-group-elements-1 {
  width: 327px;
  height: auto;
  min-height: 339px;
  margin: 51px 780px 0 33px;
}

.u-section-6 .u-text-2 {
  margin: 15px 118px 0 106px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -39px 263px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 45px 106px 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -38px 263px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 32px 0 0 106px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -41px 261px 0 2px;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 29px 263px 0 0;
}

.u-section-6 .u-text-5 {
  margin: -46px 155px 0 106px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 809px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 740px;
    min-height: 418px;
    margin-left: 0;
    margin-right: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1009px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -2px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 40px;
    margin-right: 393px;
    margin-bottom: -2px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 100vh;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 80px;
    height: 80px;
  }

  .u-section-6 .u-group-elements-1 {
    margin-bottom: -16px;
    margin-right: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-group-elements-1 {
    margin-bottom: -30px;
    margin-right: 13px;
  }
} @keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}
@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
	display:flex;
	  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 7000px;
}
.box-of-star1 {
  animation: snow 5s linear infinite;
}
.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}
.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}
.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}
.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}
.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}
.star-position1 {
  top: 30px;
  left: 20px;
}
.star-position2 {
  top: 110px;
  left: 250px;
}
.star-position3 {
  top: 60px;
  left: 570px;
}
.star-position4 {
  top: 120px;
  left: 900px;
}
.star-position5 {
  top: 20px;
  left: 1120px;
}
.star-position6 {
  top: 90px;
  left: 1280px;
}
.star-position7 {
  top: 30px;
  left: 1480px;
}
.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}
.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}
.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}
.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}
.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}
.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}
.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}
.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}
.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}
.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}
.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}
.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}
.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}
.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}
.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}
.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}
.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}
.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}
.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}
.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}
.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}
.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}
.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}
.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}
 @keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}
@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
	display:flex;
	  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 700px;
}
.box-of-star1 {
  animation: snow 5s linear infinite;
}
.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}
.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}
.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}
.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}
.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}
.star-position1 {
  top: 30px;
  left: 20px;
}
.star-position2 {
  top: 110px;
  left: 250px;
}
.star-position3 {
  top: 60px;
  left: 570px;
}
.star-position4 {
  top: 120px;
  left: 900px;
}
.star-position5 {
  top: 20px;
  left: 1120px;
}
.star-position6 {
  top: 90px;
  left: 1280px;
}
.star-position7 {
  top: 30px;
  left: 1480px;
}
.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}
.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}
.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}
.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}
.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}
.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}
.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}
.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}
.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}
.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}
.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}
.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}
.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}
.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}
.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}
.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}
.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}
.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}
.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}
.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}
.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}
.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}
.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}
.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}